{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aprendiz/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="panel-heading">
        <h2><i class="fas fa-user-graduate"></i> Panel del Aprendiz</h2>
    </div>
    <div class="dashboard-cards">
        <a href="{{ url_for('main.aprendiz_nueva_solicitud') }}" class="card">
            <div class="card-icon"><i class="fas fa-plus-circle"></i></div>
            <div class="card-title">Nueva Solicitud</div>
        </a>
        <a href="{{ url_for('main.aprendiz_historial') }}" class="card">
            <div class="card-icon"><i class="fas fa-history"></i></div>
            <div class="card-title">Historial de Solicitudes</div>
        </a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %} 