{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/porteria/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="porteria-panel">
    <h2>Panel de Portería</h2>
    <div class="dashboard-cards">
        <a href="{{ url_for('main.porteria_solicitudes_salida') }}" class="card">
            <div class="card-icon"><i class="fas fa-sign-out-alt"></i></div>
            <div class="card-title">Solicitudes para Registrar Salida</div>
        </a>
        <a href="{{ url_for('main.porteria_solicitudes_reingreso') }}" class="card">
            <div class="card-icon"><i class="fas fa-sign-in-alt"></i></div>
            <div class="card-title">Solicitudes para Registrar Reingreso</div>
        </a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %} 